@import "tailwindcss";
@import "@appica/ui-react/styles.css";

@source "@appica/ui-react";
@source "../components/**/*.{ts,tsx}";
@source "./**/*.{ts,tsx}";

:root,
.dark {
  --primary: #9184d9;
  --background: #161826;
  --background-subtle: #1d1f2c;
  --background-muted: #232532;
  --foreground: #e9e9ed;
  --foreground-muted: #9397ab;
  --border: rgb(233 233 237 / 16%);
  --radius: 0.5rem;
  --font-sans: var(--font-inter), sans-serif;
}

html {
  background: var(--background);
  color: var(--foreground);
}
